*{ 
    margin: 0%;
    padding: 0%;
}
.azul{
  width: 100px;
  height: 100px;
  background-color: blue;
}
.turquesa{
    width: 100px;
    height: 100px;
    background-color:turquoise;
  }
.violeta {
   width: 2.5px;
   height: 100px; 
   background-color: violet;
}
.roxo{
  width:2.5px ;
  height:100px;
  background-color: purple;
}
.linha{
  display: flex;
  width: 4px;
  height: 100px;;
}

